.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__img {
    max-width: 40px;
    border-radius: 20%;
  }

  &__text {
    font-size: 12px;
  }
}