body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  left: 0;
  top: 0;
  width: 220px;
  height: 100%;
  padding: 1rem;
  color: white;
  position: fixed;
  font-weight: 300;
  font-size: 1.2rem;
  background-color: #080728;
  font-family: 'Montserrat', sans-serif;

  &__item{
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &:hover {
      & * {
        color: #080728;
      }

      cursor: pointer;
      background-color: #c8c8ca;
    }

    gap: 1.5rem;
    display: flex;
    padding: 0.4rem 0 0.4rem 0.4rem;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    justify-content: flex-start;
  }

  &__logo {
    & > i:hover {
      cursor: pointer;
    }

    & > i:active {
      transform: scale(0.9);
    }

    & > img {
      max-width: 70%;
      background-color: azure;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__footer {
    bottom: 40px;
    width: inherit;
    position: absolute;
  }
}

